# Mike Sandbox

## BOM datafram

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
!ls

README.md      Untitled.ipynb data

In [27]:
df_bom = pd.read_csv('data/bom.movie_gross.csv')
parse_foreign_gross = ['foreign_gross']

In [28]:
df_bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [29]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [6]:
df_bom.shape

(3387, 5)

In [10]:
df_bom['domestic_gross'].isna().sum()

28

In [11]:
df_bom['foreign_gross'].isna().sum()

1350

In [13]:
df_bom = df_bom[df_bom['domestic_gross'].notna()]

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [14]:
df_bom['domestic_gross'].isna().sum()

0

In [15]:
df_bom = df_bom[df_bom['foreign_gross'].notna()]

In [17]:
df_bom['foreign_gross'].isna().sum()

0

In [31]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [32]:
df_bom.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [33]:
df_bom['foreign_gross'] = df_bom['foreign_gross'].astype(float)

ValueError: could not convert string to float: '1,131.6'

In [40]:
df_bom['title'].value_counts()

Bluebeard                     2
Ouija: Origin of Evil         1
Melancholia                   1
Collateral Beauty             1
Dumb and Dumber To            1
                             ..
Welcome to Marwen             1
On the Road                   1
Tough Being Loved By Jerks    1
Barbershop: The Next Cut      1
War Room                      1
Name: title, Length: 3386, dtype: int64

In [ ]:
bar_chart_title = 'top 5 highest grossing movies'
bar_chart_count_label = 'Number of Players'
bar_chart_series_label = 'Nationality'



top_5_highest_grossing_movies = df_bom['Nationality'].value_counts()[0:5]

player_count_figure, ax = plt.subplots(figsize=(10, 6))


labels = list(top_5_countries.index)
values = list(top_5_countries.values)

ax.set_title(bar_chart_title)
ax.set_xlabel(bar_chart_series_label)
ax.set_ylabel(bar_chart_count_label)
ax.bar(labels, values)