## Justin Sandbox

In [1]:
# Import linraries and modules

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [2]:
conn = sqlite3.connect('../data/im.db')

In [3]:
pd.read_sql("""
SELECT *
  FROM movie_basics;
""", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [12]:
pd.read_sql("""
SELECT *
  FROM movie_ratings;
""", conn)

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [13]:
pd.read_sql("""
SELECT *
  FROM movie_akas;
""", conn)

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,None,None,original,None,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0
331700,tt9880178,1,La atención,None,None,original,None,1.0
331701,tt9880178,2,La atención,ES,None,None,None,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0

In [14]:
df_imdb = pd.read_sql("""
    SELECT *
    FROM 
    movie_basics AS mb
        LEFT JOIN movie_ratings AS mr
            ON mb.movie_id = mr.movie_id
""", conn)

In [15]:
df_imdb

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119.0
...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,None,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,None,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,None,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,None,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,None,NaN,NaN

In [16]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
 6   movie_id         73856 non-null   object
 7   averagerating    73856 non-null   float64
 8   numvotes         73856 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 10.0+ MB

In [17]:
df_imdb.describe()

          start_year  runtime_minutes  averagerating      numvotes
count  146144.000000    114405.000000   73856.000000  7.385600e+04
mean     2014.621798        86.187247       6.332729  3.523662e+03
std         2.733583       166.360590       1.474978  3.029402e+04
min      2010.000000         1.000000       1.000000  5.000000e+00
25%      2012.000000        70.000000       5.500000  1.400000e+01
50%      2015.000000        87.000000       6.500000  4.900000e+01
75%      2017.000000        99.000000       7.400000  2.820000e+02
max      2115.000000     51420.000000      10.000000  1.841066e+06

In [19]:
df_imdb.sort_values('runtime_minutes', ascending=False)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
132389,tt8273150,Logistics,Logistics,2012,51420.0,Documentary,tt8273150,5.0,17.0
44840,tt2659636,Modern Times Forever,Modern Times Forever,2011,14400.0,Documentary,tt2659636,6.2,69.0
123467,tt7492094,Nari,Nari,2017,6017.0,Documentary,None,NaN,NaN
87264,tt5068890,Hunger!,Hunger!,2015,6000.0,"Documentary,Drama",None,NaN,NaN
88717,tt5136218,London EC1,London EC1,2015,5460.0,"Comedy,Drama,Mystery",None,NaN,NaN
...,...,...,...,...,...,...,...,...,...
146131,tt9915790,Bobbyr Bondhura,Bobbyr Bondhura,2019,NaN,Family,None,NaN,NaN
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War",None,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,None,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,None,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,None,NaN,NaN

In [20]:
df_imdb.head(50)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119.0
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,None,NaN,NaN
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",tt0112502,4.1,32.0
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",tt0137204,8.1,263.0
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History",None,NaN,NaN
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography,None,NaN,NaN
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,tt0146592,6.8,451.0
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,tt0154039,4.6,64.0
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,tt0159369,7.6,53.0
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,tt0162942,6.9,120.0
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,tt0170651,7.5,6.0
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",tt0176694,7.8,584.0
16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,None,None,NaN,NaN
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,tt0192528,4.0,72.0
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,tt0230212,8.8,8.0
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",tt0247643,4.0,12.0
20,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",tt0249516,1.9,8248.0
21,tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama",tt0250404,6.7,236.0
22,tt0253093,Gangavataran,Gangavataran,2018,134.0,None,tt0253093,6.6,8.0
23,tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",tt0255820,5.9,123.0
24,tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary,tt0262218,7.8,22.0
25,tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.0,Documentary,None,NaN,NaN
26,tt0263814,On kadin,On kadin,2019,NaN,Drama,tt0263814,7.1,100.0
27,tt0276568,To Chase a Million,To Chase a Million,2018,97.0,"Action,Drama",tt0276568,7.4,5.0
28,tt0277964,Prague: The Restless Heart of Europe,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History",tt0277964,7.0,31.0
29,tt0283440,Short Time Heroes,Kurzzeithelden,2015,45.0,Sci-Fi,tt0283440,6.6,16.0
30,tt0285252,Life's a Beach,Life's a Beach,2012,100.0,Comedy,tt0285252,3.9,219.0
31,tt0285423,Abolição,Abolição,2019,NaN,Documentary,tt0285423,7.4,35.0
32,tt0293069,Dark Blood,Dark Blood,2012,86.0,Thriller,tt0293069,6.6,1053.0
33,tt0293429,Mortal Kombat,Mortal Kombat,2021,NaN,"Action,Adventure,Fantasy",None,NaN,NaN
34,tt0297400,Snowblind,Snowblind,2015,NaN,"Crime,Drama",tt0297400,6.7,77.0
35,tt0306058,Second Coming,Second Coming,2012,95.0,None,tt0306058,5.5,20.0
36,tt0311448,Lives No Longer Ours,Lives No Longer Ours,2011,90.0,"Drama,Romance",None,NaN,NaN
37,tt0312305,Quantum Quest: A Cassini Space Odyssey,Quantum Quest: A Cassini Space Odyssey,2010,45.0,"Adventure,Animation,Sci-Fi",tt0312305,5.1,287.0
38,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",tt0315642,7.1,15378.0
39,tt0323808,The Wicker Tree,The Wicker Tree,2011,96.0,"Drama,Horror",tt0323808,3.9,2328.0
40,tt0326592,The Overnight,The Overnight,2010,88.0,None,tt0326592,7.5,24.0
41,tt0326965,In My Sleep,In My Sleep,2010,104.0,"Drama,Mystery,Thriller",tt0326965,5.5,1889.0
42,tt0328810,My Land,Aamaar Bhuvan,2018,102.0,"Drama,Family",tt0328810,7.9,61.0
43,tt0329539,Rice Girl,Rice Girl,2014,95.0,"Adventure,Comedy,Romance",tt0329539,6.1,73.0
44,tt0330811,Regret Not Speaking,Regret Not Speaking,2011,NaN,None,tt0330811,6.2,10.0
45,tt0330987,"Tiden är en dröm, del 2","Tiden är en dröm, del 2",2014,109.0,None,tt0330987,6.3,6.0
46,tt0331312,This Wretched Life,This Wretched Life,2010,99.0,"Comedy,Drama",tt0331312,7.6,59.0
47,tt0331314,Bunyan and Babe,Bunyan and Babe,2017,84.0,"Adventure,Animation,Comedy",tt0331314,5.0,302.0
48,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",tt0337692,6.1,37886.0
49,tt0337882,Blind Sided,Blind Sided,2010,NaN,"Comedy,Crime,Drama",tt0337882,7.4,14.0

In [23]:
df_imdb[['Genre_1','Genere_2', 'Genere_3']]=df_imdb["genres"].str.split(",",expand=True)

In [24]:
df_imdb

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes,Genre_1,Genere_2,Genere_3
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77.0,Action,Crime,Drama
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43.0,Biography,Drama,None
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517.0,Drama,None,None
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6.1,13.0,Comedy,Drama,None
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119.0,Comedy,Drama,Fantasy
...,...,...,...,...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,None,NaN,NaN,Drama,None,None
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,None,NaN,NaN,Documentary,None,None
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,None,NaN,NaN,Comedy,None,None
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,None,NaN,NaN,None,None,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,None,NaN,NaN,Documentary,None,None

In [25]:
df_imdb.value_counts('Genre_1')

Genre_1
Documentary    41609
Drama          31343
Comedy         21514
Action         10335
Biography       8021
Horror          6650
Adventure       4760
Crime           3919
Thriller        3055
Animation       1839
Romance         1555
Family          1108
Fantasy          905
Mystery          866
Sci-Fi           851
Music            741
History          468
Musical          423
Sport            363
Western          142
War              132
Reality-TV        54
Talk-Show         39
Adult             23
News              17
Game-Show          3
Short              1
dtype: int64