# Microsoft Original Video Content

# Table of Contents
*[Overvdiew](#over)<br>
*[Business Understanding](#bizund)<br>
*[Data Understanding](#dataund)<br>
*[Data Preperation](#dataprep)<br>
*[Data Import](#dataimport)<br>
    *[Data Cleaning](#datacleaning)<br>
        *[IMDB Cleaning](#imdbclean)<br>
        *[The Numbers (TN) Cleaning](#imdbclean)<br>
        *[Data Mergeing](#merge)<br>
*[Analysis](#explore)<br>
    *[Studios to Hire From](#stud)<br>
    *[Allocation of Budget](#bud)<br>
    *[Successful Genres](#gen)<br>
    *[Direcotrs to Work With](#dir)<br>
    *[Average Rating IMDB](#rat)<br>
*[Conslusion](#con)<br>
*[Nest Steps](#steps)<br>

# Overview <a class="anchor" id="over"></a>

# Business Problem <a class="anchor" id="bizund"></a>

# Data Understanding <a class="anchor" id="dataund"></a>

In [1]:
# Import linraries and modules

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [2]:
#Access IMDB data through sqlite3

# Connect to sqlite3
conn = sqlite3.connect('../data/im.db')

# Query and join IMDB tables movie_basics, movie_ratings and director information (joined tables directors and perons)

df_imdb = pd.read_sql("""
    SELECT *
    FROM 
    movie_basics AS mb
        LEFT JOIN movie_ratings AS mr
            ON mb.movie_id = mr.movie_id
        LEFT JOIN
            (SELECT *
            FROM directors GROUP BY movie_id) AS dr
            ON mb.movie_id = dr.movie_id
        LEFT JOIN persons AS ps
            ON dr.person_id = ps.person_id
""", conn)

In [3]:
# Import The Numbers dataset
df_tn = pd.read_csv('../data/tn.movie_budgets.csv')

In [4]:
# Import The Numbers dataset
df_bom = pd.read_csv('../data/bom.movie_gross.csv')

In [5]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   movie_id            146144 non-null  object
 1   primary_title       146144 non-null  object
 2   original_title      146123 non-null  object
 3   start_year          146144 non-null  int64
 4   runtime_minutes     114405 non-null  float64
 5   genres              140736 non-null  object
 6   movie_id            73856 non-null   object
 7   averagerating       73856 non-null   float64
 8   numvotes            73856 non-null   float64
 9   movie_id            140417 non-null  object
 10  person_id           140417 non-null  object
 11  person_id           140416 non-null  object
 12  primary_name        140416 non-null  object
 13  birth_year          30609 non-null   float64
 14  death_year          856 non-null     float64
 15  primary_profession  139887 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 17.8+ MB

In [6]:
df_tn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [7]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

# Data Preperation <a class="anchor" id="dataprep"></a>

## Data Import <a class="anchor" id="dataimport"></a>

## Data Cleaning <a class="anchor" id="datacleaning"></a>

### IMDB Cleaning <a class="anchor" id="imdbclean"></a>

In [ ]:
# Split genres from IMDB data into spereate columns
df_imdb[['Genre_1','Genre_2', 'Genre_3']] = df_imdb["genres"].str.split(",",expand=True)

# Add colum of avrage rating relative to mean of overall average rating
df_imdb['rating_relative_to_avg'] = df_imdb['averagerating'] - df_imdb['averagerating'].mean()


# Create dataframe of counts of genres
# Count genres by column
df_gen_cnt = df_imdb[['Genre_1', 'Genre_2', 'Genre_3']].apply(pd.Series.value_counts)
# Make NaNs 0
df_gen_cnt = df_gen_cnt.fillna(0)

# Get total count per genre and add to total counts column
df_gen_cnt['total_gen_cnt'] = df_gen_cnt['Genre_1'] + df_gen_cnt['Genre_2'] + df_gen_cnt['Genre_3']

# Create a datafram of genre combinations and their averagerating
df_genres = df_imdb.loc[:, ["Genre_1","Genre_2","Genre_3", "averagerating", "numvotes", 'start_year']]

# A dataframe of genre value counts
df_gen_cnt = df_imdb[['Genre_1', 'Genre_2', 'Genre_3']].apply(pd.Series.value_counts)
df_gen_cnt = df_gen_cnt.fillna(0)
df_gen_cnt['total_gen_cnt'] = df_gen_cnt['Genre_1'] + df_gen_cnt['Genre_2'] + df_gen_cnt['Genre_3']
df_genres = df_genres.dropna(subset=['averagerating'])

In [ ]:
df_gen_cnt

### TN Cleaning <a class="anchor" id="tnclean"></a>

In [ ]:
# Remove non-numerical characters from strings that will be converted to numerics
df_tn['production_budget'] = df_tn['production_budget'].str.replace(",","")
df_tn['production_budget'] = df_tn['production_budget'].str.replace("$","")

df_tn['worldwide_gross'] = df_tn['worldwide_gross'].str.replace(",","")
df_tn['worldwide_gross'] = df_tn['worldwide_gross'].str.replace("$","")

df_tn['domestic_gross'] = df_tn['worldwide_gross'].str.replace(",","")
df_tn['domestic_gross'] = df_tn['worldwide_gross'].str.replace("$","")

In [ ]:
# Convert strings representing money values to numeric
df_tn['worldwide_gross'] = df_tn['worldwide_gross'].astype('int64')
df_tn['production_budget'] = df_tn['production_budget'].astype('int64')
df_tn['domestic_gross'] = df_tn['domestic_gross'].astype('int64')

In [ ]:
# Convert the data type of the 'release_date' column to a date
df_tn['release_date'] = pd.to_datetime(df_tn['release_date'],format="%b %d, %Y")

# Add a new columns 'year'
df_tn['release_year'] = df_tn['release_date'].dt.year

# Create key column movie + year
df_tn['release_year'] = df_tn['release_year'].astype(str)
df_tn['mov_yr_key'] = df_tn['movie'] + "-" + df_tn['release_year']

In [ ]:
# Create a column of wordwide profit by sibtracting production budget from worldwide gross
df_tn_dna['worldwide_profit'] = df_tn_dna['worldwide_gross'] - df_tn_dna['production_budget']

### BOM

In [ ]:
# # Remove non-numerical characters from strings that will be converted to numerics
df_bom['foreign_gross'] = df_bom['foreign_gross'].str.replace(",","")

# Convert strings representing money values to numeric
df_bom['foreign_gross'] = df_bom['foreign_gross'].astype(float)

# Create a column of total gross by adding together foreign gross and domesitc gross
df_bom['total_gross'] = df_bom['foreign_gross'] + df_bom['domestic_gross']

### Data Merging <a class="anchor" id="merge"></a>

Before merging the datasets, we created new column in both the IMDB and TN datasets 'mov_yr_key' a conbination of the title and year string columns of each data set.

In [ ]:
df_imdb['year_str'] = df_imdb['start_year'].astype(str)
df_imdb['mov_yr_key'] = df_imdb['primary_title'] + "-" + df_imdb['year_str']

In [ ]:
# Merge the imdb and tn datasets on 'mov_yr_key'
df_tn_imdb = df_tn_dna.merge(df_imdb,how='inner',left_on='mov_yr_key', right_on='mov_yr_key',suffixes=('_tn', '_imdb'))

To focus on recent trend and successes in the indiustry, we will focus on movies made no older than 2012.

In [ ]:
# Create filtered dataFrame of merged data to only include movies made since 2012
df_tn_imdb_filt_year = df_tn_imdb[df_imdb['start_year'] >= 2012]

# Create filtered dataFrame of merged data to only include movies made since 2012 
#and made a worldwide profit of at least $50,000,000
df_tn_imdb_filt_year_5hunthou = df_tn_imdb_filt_year[df_tn_imdb_filt_year['worldwide_profit'] > 50000000]

# Create filtered dataFrame of merged data to only include movies with at leaste 100000 votes and made since 2012
df_tn_imdb_filt = df_tn_imdb[(df_tn_imdb['numvotes'] >= 100000) & (df_imdb['start_year'] >= 2012)]
df_bom_filt = df_bom[df_bom['year'] >= 2012]

# Analysis <a class="anchor" id="explore"></a>

### Studios to Hire From <a class="anchor" id="stud"></a>

Microsoft will need to staff the new movie studio with successful and experienced persons.

In [ ]:
# Group by studio and examine largest sums of total gross
df_bom_filt.groupby('studio').sum().sort_values('total_gross', ascending=False)

In [ ]:
# Select the top 10 studios by sum of total gross and save to a variable
top10_stud_filt = df_bom_filt.groupby('studio').sum().sort_values('total_gross', ascending=False)[:10]
top10_stud_filt

In [ ]:
# Vizualize top t0 studios by sum of total gross since 2012
fig, ax = plt.subplots()

x = top10_stud_filt.index
y = top10_stud_filt['total_gross']

ax.set_xlabel("Studio")
ax.set_ylabel("Total Gross")
ax.set_title("Studios with Greatest Total Gross Since 2012")

plt.xticks(rotation=90)

ax.bar(x,y)

In [ ]:
# Select the top 10 studios by number of movies released
stud_top_num_mov = df_bom_filt.value_counts(subset='studio')[:10]
stud_top_num_mov

In [ ]:
# Vizualize top 10 studios by number of movies released
fig, ax = plt.subplots()

x = stud_top_num_mov.index
y = stud_top_num_mov.values

ax.set_xlabel("Studio")
ax.set_ylabel("Number of Movies Sinse 2012")
ax.set_title("Studios with Greatest Number of Movies Made Since 2012")

plt.xticks(rotation=90)

ax.bar(x,y, color="green")

## Allocation of Budget<a class="anchor" id="bud"></a>

In [ ]:
# Vizualize produciton budget vs average rating & production budget vs worldwide profit
fig, (ax1, ax2) = plt.subplots(nrows=1, ncols=2, figsize=(15,5))

plt.suptitle("Production Budget of Movies Since 2012")

x1 = df_tn_imdb_filt['production_budget']
y1 = df_tn_imdb_filt['averagerating']

x2 = df_tn_imdb_filt['production_budget']
y2 = df_tn_imdb_filt['worldwide_profit']


ax1.set_xlabel("Production Budget")
ax1.set_ylabel("Average Rating")
ax1.set_title("by Average Rating")

ax2.set_xlabel("Production Budget")
ax2.set_ylabel("Worldwide Profit")
ax2.set_title("by Worldwide Profit")

ax1.scatter(x1, y1)
ax2.scatter(x2, y2)

In [ ]:
# Get correlation of produciton budget vand average rating
df_tn_imdb_filt['production_budget'].corr(df_tn_imdb_filt['averagerating'])

In [ ]:
# Get correlation of production budget and worldwide profit
df_tn_imdb_filt['production_budget'].corr(df_tn_imdb_filt['worldwide_profit'])

In [ ]:
# Get all time correlation of produciton budget vand average rating
df_tn_imdb['production_budget'].corr(df_tn_imdb['averagerating'])

In [ ]:
# Get all time correlation of production budget and worldwide profit
df_tn_imdb['production_budget'].corr(df_tn_imdb['worldwide_profit'])

In [ ]:
# Mean Budget for films since 2012 that made at least 50,000,000 in profit worldwide
df_tn_imdb_filt_year_5hunthou['production_budget'].mean()

## Successful Genre Combinations <a class="anchor" id="gen"></a>

In [ ]:
# Looking at the top 10 rated genre combinations with > 100000 votes since 2012
df_top10_gen_comb_rat = df_genres[(df_genres['numvotes'] >= 100000) & (df_genres['start_year'] >= 2012)].groupby(['Genre_1', 'Genre_2', 'Genre_3']).mean().sort_values('averagerating', ascending=False)[:10]
df_top10_gen_comb_rat

In [ ]:
#Top 50 movies by rating with at least 100,000 votes and released no later than 2012
df_top50_rat = df_imdb[(df_imdb['numvotes'] >= 100000) & (df_imdb['start_year'] >= 2012)] .sort_values('averagerating', ascending=False)[0:50]

In [ ]:
# Viz of genre counts
top10_gen_cnt = df_gen_cnt.sort_values('total_gen_cnt', ascending=False)[0:10]

fig, ax = plt.subplots()

x = top10_gen_cnt.index
y = top10_gen_cnt['total_gen_cnt']

plt.xticks(rotation=90)

ax.bar(x,y)

In [ ]:
df_com_yr_sr_rat = df_tn_imdb_filt_year.sort_values('averagerating', ascending=False)
top_gen_s_2012 = df_com_yr_sr_rat.loc[:,['genres', 'averagerating', 'worldwide_gross']]
top_gen_s_2012['genres'] = top_gen_s_2012['genres'].str.replace(',', ' - ')
top_gen_s_2012_grp = top_gen_s_2012.groupby('genres').mean()

In [ ]:
top10_gen_s2012_brat = top_gen_s_2012_grp.sort_values('averagerating', ascending=False)[0:10]
top10_gen_s2012_brat

In [ ]:
top10_gen_s2012_bwrgr = top_gen_s_2012_grp.sort_values('worldwide_gross', ascending=False)[0:10]
top10_gen_s2012_bwrgr

In [ ]:
fig, ax = plt.subplots()

x = top10_gen_s2012_brat.index
y = top10_gen_s2012_brat['averagerating']

ax.set_xlabel("Average Rating")
ax.set_ylabel("Genre Combination")
ax.set_title("Top Genre Combinations by Average Rating Since 2012")

plt.gca().invert_yaxis()

ax.barh(x,y)

In [ ]:
fig, ax = plt.subplots()

x = top10_gen_s2012_bwrgr.index
y = top10_gen_s2012_bwrgr['worldwide_gross']

ax.set_xlabel("Average Worldwide Gross")
ax.set_ylabel("Genre Combination")
ax.set_title("Top Genre Combinations by Worldwide Gross Since 2012")

plt.gca().invert_yaxis()

ax.barh(x,y)

## Directors to Work With <a class="anchor" id="dir"></a>

In [ ]:
# Viz of the directors who have more than one film in the top 50 rated movies since 2012 with more than 100000 votes

# Create a series of directors who have more than one film in the top 50 rated movies since 2012 with more than 100000 votes
dir_mul_top50 = df_top50_rat.value_counts('primary_name')[0:7]

fig, ax = plt.subplots()

x = dir_mul_top50.index
y = dir_mul_top50.values

plt.xticks(rotation=90)

ax.set_xlabel('Movies in Top 50')
ax.set_ylabel('Director')
ax.set_title('Directors with More Than One Movie in Top 50\n with at Least 100000 votes Since 2012')

ax.bar(x,y)

In [ ]:
# Filter data to find the top ten directors by total profit since 2012 who's movies have at least 100000 votes
top10_dirs_profit = df_tn_imdb_filt_year.groupby('primary_name').mean().sort_values('worldwide_profit', ascending=False)[0:10]

In [ ]:
# Vizualize top 10 directors by average worldwide profit per movie
fig, ax = plt.subplots()

x = top10_dirs_profit.index
y = top10_dirs_profit['worldwide_profit']

ax.set_xlabel("Director")
ax.set_ylabel("Avg Profit per Movie")
ax.set_title("Top 10 Directors by Avg Profit per Movie Since 2012")

plt.xticks(rotation=90)

ax.bar(x,y, color="green")

## Average User Rating on IMDB <a class="anchor" id="rat"></a>

In [ ]:
# Viz of Top 10 movies by rating with at least 100,000 votes and released no later than 2012
df_top10_rat = df_top50_rat[0:10]

fig, (ax1, ax2) = plt.subplots(nrows=1, ncols=2, figsize=(15,5))

x1 = df_top10_rat['primary_title']
y1 = df_top10_rat['averagerating']

x2 = df_top10_rat['primary_title']
y2 = df_top10_rat['rating_relative_to_avg']

ax1.axhline(6.332729, c="black")
ax1.text(0,5.75,"Overall Avg Rating", backgroundcolor="White")

ax1.set_xticklabels(x1, rotation=80)
ax2.set_xticklabels(x2, rotation=80)

ax1.set_xlabel("Top 10 Rated Films")
ax1.set_ylabel("Avg. Rating")

ax2.set_xlabel("Top 10 Rated Films")
ax.set_ylabel("Avg. Rating Above Avg. Avg. Rating")

ax1.set_title("Average Rating")
ax2.set_title("Average Rating Above Overall Average Average Rating")

ax1.bar(x1,y1)
ax2.bar(x2,y2)

In [ ]:
# Viz of comparison of number of votes and average rating

fig, (ax1, ax2) = plt.subplots(nrows=1, ncols=2, figsize=(15,5))

x1 = df_imdb['averagerating']
y1 = df_imdb['numvotes']

x2 = df_top50_rat['averagerating']
y2 = df_top50_rat['numvotes']


ax1.set_xlabel("Average Rating")
ax1.set_ylabel("Number of Votes")
ax1.set_title("Average Rating by Number of Votes")

ax2.set_xlabel("Average Rating")
ax2.set_ylabel("Number of Votes")
ax2.set_title("Average Rating by Number of Votes for Top 50 Rated")

ax1.scatter(x1,y1)
ax2.scatter(x2,y2)

In [ ]:
# Vizualize Average Rating by Profit
fig, ax = plt.subplots()

x = df_tn_imdb_filt['averagerating']
y = df_tn_imdb_filt['worldwide_profit']

ax.set_xlabel("Avg Rating")
ax.set_ylabel("Profit")
ax.set_title("Avg Rating by Profit")



ax.scatter(x,y)

In [ ]:
# Get correlation average rating and worldwide profit
df_tn_imdb_filt['averagerating'].corr(df_tn_imdb_filt['worldwide_profit'])

In [ ]:
# Get correlation of produciton budget and worldwide profit
df_tn_imdb_filt['production_budget'].corr(df_tn_imdb_filt['worldwide_profit'])

# Conclusions <a class="anchor" id="con"></a>

# Nest Steps <a class="anchor" id="steps"></a>